.topTitle {
    display: none;
}
.home .logoHeader{
    display:none;
}

.home #header{
   padding-bottom: 0;
}

.footerWidget {
    width: 100%; 
}

.newsletter-form {
    margin-top: 20px;
}

.woocommerce .footerWidget {
    display:none;
}

.day {
    width: 50%;
    padding: 0;
    border: 0;
    background-color: transparent;
}

.cart{
    display:none;
}
a .button .add_to_cart_button {
    display:none;
}