.trx_emailer {
	max-width:1200px;
	margin:0 20px 0 0;
	overflow:hidden;
}

.trx_emailer input[type="checkbox"] {
	vertical-align:text-bottom;
}

.trx_emailer_result {
	margin-bottom:20px;
}

.trx_emailer_result .error,
.trx_emailer_result .updated {
	margin:0;
}

#trx_emailer_send {
	display:inline-block;
	text-decoration:none;
	padding:10px 20px;
	background-color:#2ecca2;
	color:#ffffff;
}
#trx_emailer_send:hover {
	color:#ffffff;
	background-color:#3edcb2;
}

.trx_emailer_block {
	width:49%;
	float:left;
/*	border:1px solid #dee0de; */
	margin-bottom:20px;
}
.trx_emailer_block + .trx_emailer_block {
	float:right;
}
.trx_emailer_block_inner {
	overflow:hidden;
	padding:20px;
	border:1px solid #dee0de;
}

.trx_emailer_block_inner legend {
	font-style:italic;
}

.trx_emailer_title {
	padding:10px;
	background-color:#ddd;
}

.trx_emailer_fields {
	display:block;
	overflow:hidden;
}
.trx_emailer_field + .trx_emailer_field {
	margin-top:10px;
}
.trx_emailer_field #emailer_group {
	display:inline-block;
	margin-right:10px;
}
.trx_emailer_field.trx_emailer_message {
	margin-top:22px;
}
.trx_emailer_field label {
	display:inline-block;
	width:100px;
}
.trx_emailer_field label.inline {
	margin-bottom:0;
	margin-right:10px;
	width:auto;
}
.trx_emailer_field label.big {
	display:block;
	margin-bottom:4px;
	width:100%;
}

.trx_emailer_field input[type="text"] {
	width: 400px;
}

.trx_emailer_field textarea {
	width:100%;
	height:400px;
}

.trx_emailer_buttons {
	clear:both;
	margin-top:20px;
}
