.po_composer {
	max-width:1200px;
	margin:0 20px 0 0;
	overflow:hidden;
}

.po_composer input[type="checkbox"] {
	vertical-align:text-bottom;
}

.po_composer_result {
	margin-bottom:20px;
}

.po_composer_result .error,
.po_composer_result .updated {
	margin:0;
}

#po_save {
	display:inline-block;
	text-decoration:none;
	padding:10px 20px;
	background-color:#2ecca2;
	color:#ffffff;
}
#po_save:hover {
	color:#ffffff;
	background-color:#3edcb2;
}

.po_composer_links {
	display:inline-block;
	margin-left:20px;
}
.po_composer_download_link {
	display:inline-block;
	margin-right:20px;
	text-decoration:none;
	padding:10px 20px;
	background-color:#2ea2cc;
	color:#ffffff;
}
.po_composer_download_link:hover {
	color:#ffffff;
	background-color:#3eb2dc;
}

.po_composer_block {
	width:49%;
	float:left;
/*	border:1px solid #dee0de; */
	margin-bottom:20px;
}
.po_composer_block + .po_composer_block {
	float:right;
}
.po_composer_block_inner {
	overflow:hidden;
	padding:20px;
	border:1px solid #dee0de;
}

.po_composer_block_inner legend {
	font-style:italic;
}

.po_composer_title {
	padding:10px;
	background-color:#ddd;
}
.po_composer_subtitle {
	margin-top:20px;
}

.po_composer_label {
	display:block;
	margin-bottom:10px;
	text-align:left;
	font-weight:bold;
}
.po_composer_fields {
	display:block;
	overflow:hidden;
}
.po_composer_field + .po_composer_field {
	margin-top:33px;
}
.po_composer_field.po_composer_editor {
	margin-top:10px;
}
.po_composer_editor {
	overflow:hidden;
}
.po_composer_editor .left_side {
	float:left;
}
.po_composer_editor .right_side {
	float:right;
}
.po_composer_editor ul {
	margin:0;
	padding:0;
	list-style-type:none;
}
.po_composer_editor ul li {
	display:inline-block;
	margin:0 0 0 1px;
}
.po_composer_editor ul li a {
	display:block;
	height:20px;
	line-height:20px;
	padding:2px 6px;
	border:1px solid #dee0de;
	border-bottom-width:0px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	background-color:#e8e8e8;
	color:#333333;
	text-decoration:none;
}
.po_composer_editor ul li a:hover {
	background-color:#3eb2dc;
	color:#ffffff;
}
.po_composer_editor ul li.ui-state-active a {
	background-color:#2ea2cc;
	color:#ffffff;
}
.po_composer_editor_content {
	clear:both;
}
.po_composer_editor_content + .po_composer_editor_content {
	display:none;
}
#po_composer_editor_list #po_list, #po_composer_editor_list #po_string {
	width:100%;
}
#po_composer_editor_list #po_list {
	height:350px;
}
#po_composer_editor_list #po_msgid {
	font-style:italic;
	display:block;
	margin:2px 6px 0;
}
#po_composer_editor_list #po_list .list_msgid,
#po_composer_editor_list #po_list .list_msgstr {
	width:49%;
	display:inline-block;
}
#po_composer_editor_list #po_list .list_msgid {
	margin-right:2%;
}
#po_composer_editor_list #po_list .translated {
/*	background-color:#5ed2fc;*/
	color: #2ea2cc;
}

.po_composer_field textarea {
	width:100%;
	height:400px;
}

.po_composer_buttons {
	clear:both;
	margin-top:20px;
}
