.mejs-container { clear: both; border-radius: 5px;
overflow: hidden;}

.mejs-container * { font-family: Helvetica, Arial; }
.mejs-container,
.mejs-embed,
.mejs-embed body,
.mejs-container .mejs-controls { background: #222; }

.mejs-controls .mejs-time-rail .mejs-time-loaded{ background:  rgba(255,255,255,0.3); }

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
.mejs-controls .mejs-time-rail .mejs-time-current { background: #00adef; }

.mejs-controls .mejs-time-rail .mejs-time-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total { background: rgba(255,255,255,0.3);; }

.mejs-controls .mejs-time-rail span,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current { border-radius: 0; }

.mejs-overlay-loading { background: transparent; }

/* Override theme styles that may conflict with controls. */
.mejs-controls .mejs-button.mejs-volume-button,
.mejs-controls .mejs-button.mejs-playpause-button{ height: 30px; width: 30px; }
.mejs-controls .mejs-button button{ border: none; background: transparent; -webkit-box-shadow: none; box-shadow: none; cursor:pointer; position:relative; width: 30px; height: 30px; font-size: 20px; margin: 0; display: block; }
.mejs-controls .mejs-button button:before{ display: block; width: 30px; height: 30px; line-height: 31px; position: absolute; left: 0; top: 0; color: #fff; z-index: 2; font-family: "fontello"; font-size: 15px;margin-left: 0px;}

.mejs-controls .mejs-button.mejs-play button:before{ content: '\e810'; }
.mejs-controls .mejs-button.mejs-pause button:before{ content: '\e808'; }
.mejs-controls .mejs-button.mejs-mute button:before{ content: '\e826'; } 
.mejs-controls .mejs-button.mejs-unmute button:before { content: '\e806'; }


.mejs-controls .mejs-time-rail .mejs-time-float{ background-color: #fff; border-color: #ddd; height: 25px; line-height: 25px; width: 40px; text-align: center; top: -33px; }
.mejs-controls .mejs-time-rail .mejs-time-float .mejs-time-float-current{ height: 25px; width: 40px; margin: 0; padding: 0; }
.mejs-controls .mejs-time-rail .mejs-time-float .mejs-time-float-corner{ left: 14px; border-width: 7px; top: 25px; border-top-color: #fff;}


.me-cannotplay { width: auto !important; }

.media-embed-details .wp-audio-shortcode { display: inline-block; max-width: 400px; }

.audio-details .embed-media-settings { overflow: visible; }

.media-embed-details .embed-media-settings .setting span { max-width: 400px; width: auto; }

.media-embed-details .embed-media-settings .checkbox-setting span { display: inline-block; }

.media-embed-details .embed-media-settings { padding-top: 0; top: 28px; }

.media-embed-details .instructions { padding: 16px 0; max-width: 600px; }

.media-embed-details .setting p,
.media-embed-details .setting a { color: #a00; font-size: 10px; text-transform: uppercase; }

.media-embed-details .setting a:hover { color: #f00; }

.media-embed-details .embed-media-settings .checkbox-setting { float: none; margin: 0 0 10px; }

.wp-video { max-width: 100%; height: auto; }

video.wp-video-shortcode,
.wp-video-shortcode video { max-width: 100%; display: inline-block; }

.video-details .wp-video-holder { width: 100%; max-width: 640px; }

.wp-playlist { border: 1px solid #ccc; padding: 10px; margin: 12px 0 18px; font-size: 14px; line-height: 1.5; }

.wp-admin .wp-playlist { margin: 0 0 18px; }

.wp-playlist video { display: inline-block; max-width: 100%; }

.wp-playlist audio { display: none; max-width: 100%; width: 400px; }

.wp-playlist .mejs-container { margin: 0; width: 100%; }

.wp-playlist .mejs-controls .mejs-button button { outline: 0; }

.wp-playlist-light { background: #fff; color: #000; }

.wp-playlist-dark { color: #fff; background: #000; }

.wp-playlist-caption { display: block; max-width: 88%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 14px; line-height: 1.5; }

.wp-playlist-item .wp-playlist-caption { text-decoration: none; color: #000; max-width: -webkit-calc(100% - 40px); max-width: calc(100% - 40px); }

.wp-playlist-item-meta { display: block; font-size: 14px; line-height: 1.5; }

.wp-playlist-item-title { font-size: 14px; line-height: 1.5; }

.wp-playlist-item-album { font-style: italic; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.wp-playlist-item-artist { font-size: 12px; text-transform: uppercase; }

.wp-playlist-item-length { position: absolute; right: 3px; top: 0; font-size: 14px; line-height: 1.5; }

.rtl .wp-playlist-item-length { left: 3px; right: auto; }

.wp-playlist-tracks { margin-top: 10px; }

.wp-playlist-item { position: relative; cursor: pointer; padding: 0 3px; border-bottom: 1px solid #ccc; }

.wp-playlist-item:last-child { border-bottom: 0; }

.wp-playlist-light .wp-playlist-item { color: #333; }

.wp-playlist-dark .wp-playlist-item { color: #dedede; }

.wp-playlist-playing { font-weight: bold; background: #f7f7f7; }

.wp-playlist-light .wp-playlist-playing { background: #fff; color: #000; }

.wp-playlist-dark .wp-playlist-playing { background: #000; color: #fff; }

.wp-playlist-current-item { overflow: hidden; margin-bottom: 10px; height: 60px; }

.wp-playlist .wp-playlist-current-item img { float: left; max-width: 60px; height: auto; margin-right: 10px; padding: 0; border: 0; }

.rtl .wp-playlist .wp-playlist-current-item img { float: right; margin-left: 10px; margin-right: 0; }

.wp-playlist-current-item .wp-playlist-item-title,
.wp-playlist-current-item .wp-playlist-item-artist { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.wp-audio-playlist .me-cannotplay span { padding: 5px 15px; }