/*================ isotope nav ==============*/


.woocommerce-page div.product div.thumbnails {
    height: 100px;
    overflow: hidden;
}
.woocommerce-page div.product div.thumbnails.columns-5 a {
    width: 22%;
    height: 22%;
    margin-bottom: 100px;
}

@media (min-width: 1315px) and (max-width: 1440px) {
    .fullwidthbanner-container,
    .fullwidthbanner-container .fullwidthabanner {
        height: 400px !important;
    }
    .tp-simpleresponsive .slotholder *, 
    .tp-simpleresponsive img {
        height: 400px !important;
    }
}


@media (max-width: 1299px) {
    body {
        min-width: 1160px;
    }

    .bodyStyleBoxed .wrapBox,
    .wrapWide,
    .fullWidth .isotopeWrap .fullContent article,
    .main,
    .mainWrap,
    .bodyStyleBoxed .wrapBox,
    .wrapWide,
    .fullWidth .isotopeWrap .fullContent article,
    .main,
    .mainWrap,
    .bodyStyleWide .footerWidget,
    .bodyStyleWide #header,
    .bodyStyleFullWide #header {
        width: 1100px;
    }

    .sideBarShow .wrapWide,
    .sideBarShow .footerWidget,
    .sideBarShow #header,
    .single .fullWidth.bodyStyleFullWide .wrapWide,
    .single .fullWidth.bodyStyleFullWide #header,
    body.category .fullWidth .main,
    body.category .fullWidth #header,
    .single .fullWidth .main,
    .single .fullWidth #header,
    .bodyStyleBoxed .custom_footer, .bodyStyleBoxed .copyright,
    .bodyStyleBoxed.sideBarShow .wrapBox,
    .bodyStyleBoxed.sideBarShow .custom_footer, .bodyStyleBoxed.sideBarShow .copyright {
        width: 1100px;
    }

    /*    .sc_box {
            max-width: 998px;
        }*/

    footer.footerWidget .main > div {
        margin: 0;
    }

    .sc_sidebar_selector {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .sc_team .sc_team_item .sc_team_item_socials ul li {
        min-width: 30px;
    }

    .sc_team .sc_team_item .sc_team_item_socials ul li a {
        padding: 4px;
    }

    .sideBarShow.bodyStyleBoxed.menuStyleFixed #header.fixedTopMenuShow .menuFixedWrap,
    .bodyStyleBoxed.menuStyleFixed #header.fixedTopMenuShow .menuFixedWrap {
        width: 1100px;
        margin: 0 0 0 -550px;
    }

    .vc_custom_1447924546144 .vc_col-sm-4 {
        width: 50% !important;
        float: left;
    }
    .vc_custom_1447924546144 .vc_col-sm-4:last-child {
        width: 100% !important;
    }
    .newsletter {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .newsletter table {
        width: 100% !important;
    }
}
/*===========================================*/
@media screen and (min-width: 1280px) {
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        /*height:28.5vh;*/
        height:275px;
    }
}
/*===========================================*/
@media screen and (min-width: 1240px) {
    .woocommerce ul.products li.product h3 {
        /*    top:-300px;*/
        /*top: -30vh;*/}
}
/*===========================================*/

@media (max-width: 1170px) {
    body {
        min-width: 1000px;
    }

    .bodyStyleBoxed .wrapBox,
    .wrapWide,
    .fullWidth .isotopeWrap .fullContent article,
    .main,
    .mainWrap,
    .bodyStyleBoxed .wrapBox,
    .wrapWide,
    .fullWidth .isotopeWrap .fullContent article,
    .main,
    .mainWrap,
    .bodyStyleWide .footerWidget,
    .bodyStyleWide #header,
    .bodyStyleFullWide #header {
        width: 940px;
    }

    .sideBarShow .wrapWide,
    .sideBarShow .footerWidget,
    .sideBarShow #header,
    .single .fullWidth.bodyStyleFullWide .wrapWide,
    .single .fullWidth.bodyStyleFullWide #header,
    body.category .fullWidth .main,
    body.category .fullWidth #header,
    .single .fullWidth .main,
    .single .fullWidth #header,
    .bodyStyleBoxed .custom_footer, .bodyStyleBoxed .copyright,
    .bodyStyleBoxed.sideBarShow .wrapBox,
    .bodyStyleBoxed.sideBarShow .custom_footer, .bodyStyleBoxed.sideBarShow .copyright {
        width: 940px;
    }

    .sideBarShow.bodyStyleBoxed.menuStyleFixed #header.fixedTopMenuShow .menuFixedWrap,
    .bodyStyleBoxed.menuStyleFixed #header.fixedTopMenuShow .menuFixedWrap {
        width: 940px;
        margin: 0 0 0 -470px;
    }

    .sc_columns .sc_columns_item {
        min-width: 25%;
    }

    .sc_columns_indent .sc_columns_item {
        min-width: 22.6378%;
    }

    .woocommerce-page ul.products li.product,
    .woocommerce ul.products li.product {
        min-width: 22.6%;
        float: left;
        clear: none;
    }

    #sc_boxrecent-products ul.products {
        margin: 0px auto !important;
        max-width: 60% !important;
    }
}
/*===========================================*/

@media (max-width: 1015px) {
    body {
        min-width: 700px;
    }

    .bodyStyleBoxed .wrapBox,
    .wrapWide,
    .fullWidth .isotopeWrap .fullContent article,
    .main,
    .mainWrap,
    .bodyStyleBoxed .wrapBox,
    .wrapWide,
    .fullWidth .isotopeWrap .fullContent article,
    .main,
    .mainWrap,
    .bodyStyleWide .footerWidget,
    .bodyStyleWide #header,
    .bodyStyleFullWide #header {
        width: 640px;
    }

    .sideBarShow .wrapWide,
    .sideBarShow .footerWidget,
    .sideBarShow #header,
    .single .fullWidth.bodyStyleFullWide .wrapWide,
    .single .fullWidth.bodyStyleFullWide #header,
    body.category .fullWidth .main,
    body.category .fullWidth #header,
    .single .fullWidth .main,
    .single .fullWidth #header,
    .bodyStyleBoxed .custom_footer, .bodyStyleBoxed .copyright,
    .bodyStyleBoxed.sideBarShow .wrapBox,
    .bodyStyleBoxed.sideBarShow .custom_footer, .bodyStyleBoxed.sideBarShow .copyright {
        width: 640px;
    }

    .sideBarShow.bodyStyleBoxed.menuStyleFixed #header.fixedTopMenuShow .menuFixedWrap,
    .bodyStyleBoxed.menuStyleFixed #header.fixedTopMenuShow .menuFixedWrap {
        width: 640px;
        margin: 0 0 0 -320px;
    }

    .sideBarLeft .sideBar,
    .sideBarRight .sideBar {
        width: 100%;
        border: none;
        padding: 0;
        margin: 0;
        margin-bottom: 60px;
    }

    .sideBar .widgetWrap {
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }

    .sideBarLeft .content,
    .sideBarRight .content {
        width: 100%;
        border: none;
        padding: 0;
        margin: 0;
    }

    .menuStyleFixed #header.fixedTopMenuShow .menuFixedWrap {
        left: 0;
        right: 0;
    }

    .sideBar .widgetWrap + .widgetWrap,
    .sideBar .widgetWrap {
        border-top: 1px solid #dee0de;
        padding: 10px 0 0 0;
        margin: 0px 0 0 0;
    }

    .widget_area .sc_columns_item {
        width: 47.6378% !important;
    }

    footer.footerWidget {
        padding: 30px 0 0 0;
    }

    .sc_segment_content .sc_box {
        margin-right: 0 !important;
    }

    a.visa_logo {
        width: 50%;
    }

    .sc_columns .sc_columns_item {
        min-width: 33.3333%;
    }

    .sc_columns_indent .sc_columns_item {
        min-width: 30.9711%;
    }

    .woocommerce-page ul.products li.product,
    .woocommerce ul.products li.product {
        min-width: 30.95%;
        float: left;
        clear: none;
    }

    #header .searchform {
        position: absolute;
        left: 70px;
        top: -20px;
        margin: 0;
        padding: 0;
    }
    #filter-button{
        background: #8b2131;
        padding-left:10px;
        padding-right:10px;
        padding-top:10px;
        padding-bottom:10px;
        position:fixed;
        display:block !important;
        right:0;
        bottom:10%;
        z-index:500;
        border-radius: 10px 0px 0px 10px;
    }
    #filter-button a {
        text-decoration:none;
        color: #d3d3d3;
    }
    .sc_columns_4.sc_columns_indent .sc_columns_item:nth-child(3n) {
        clear: both;
    }

    #sc_boxrecent-products ul.products {
        margin: 0px auto !important;
        max-width: 100% !important;
    }
}
/*===========================================*/

@media (max-width: 1100px) {


    #program .postTextArea table td {
        padding: 0px 0px 0px 30px !important;
    }
    #program .postTextArea table td.day {
        padding: 0px 0px 0px 60px !important;
    }
    #program {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .newsletter {
        margin-bottom: 15px !important;
    }

    .vc_custom_1447924546144 .vc_col-sm-4 {
        width: 50% !important;
        float: left;
    }
    .vc_custom_1447924546144 .vc_col-sm-4:last-child {
        width: 100% !important;
    }
    .newsletter {
        margin-top: 10px;
    }
    .newsletter table {
        width: 100% !important;
    }
    .sc_blogger .sc_columns_3 .sc_columns_item {
        width: 100% !important;

    }
    .sc_blogger.style_image .thumb img, 
    .sc_blogger.style_image.style_image_large .thumb {
        width: 100% !important;
        height: auto !important;

    }

    #sc_boxrecent-products ul.products {
/*        margin: 0px auto !important;
        max-width: 60% !important;*/
    }
}

@media (max-width: 1020px) {
    #sc_boxrecent-products ul.products {
/*        margin: 0px auto !important;
        max-width: 100% !important;*/
    }
}

@media screen and (max-width: 768px) {

    .class-li {
        left:0px !important;
        bottom:0px !important;
        opacity: 1 !important;
    }

    .woocommerce-page div.product div.thumbnails {
        height: 165px;
    }
    .woocommerce-page div.product div.thumbnails.columns-5 a {
        margin-bottom: 165px;
    }
}

@media (max-width: 720px) {
    .vc_custom_1447924546144 .vc_col-sm-4 {
        width: 50% !important;
        float: left;
    }


    .newsletter table {
        width: 100% !important;
    }
}

@media (max-width: 669px) {
    .vc_custom_1447924546144 .vc_col-sm-4 {
        width: 50% !important;
        float: left;
    }
    #rev_slider_1_2{
        height:215px !important;
    }
    #rev_slider_1_2_wrapper{
        height:215px !important;
    }
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
        /*height:56vh;*/
        width:89%;
    }
    .woocommerce .related ul li.product,
    .woocommerce .related ul.products li.product,
    .woocommerce .upsells.products ul li.product,
    .woocommerce .upsells.products ul.products li.product,
    .woocommerce-page .related ul li.product,
    .woocommerce-page .related ul.products li.product,
    .woocommerce-page .upsells.products ul li.product,
    .woocommerce-page .upsells.products ul.products li.product {
        /*width: 22.6%;*/
        /*width:89%;*/
        width:275px;}
    .woocommerce .related ul li.product,
    .woocommerce .related ul.products li.product,
    .woocommerce .upsells.products ul li.product,
    .woocommerce .upsells.products ul.products li.product,
    .woocommerce-page .related ul li.product,
    .woocommerce-page .related ul.products li.product,
    .woocommerce-page .upsells.products ul li.product,
    .woocommerce-page .upsells.products ul.products li.product {
        /*width: 22.6%;*/
        /*width:89%;*/
        width:275px;
    }
    .newsletter table{
        margin:0 !important;
        width:100% !important;
    }
    body {
        min-width: 460px;
        font-size: 15px;
    }

    p {
        margin: 0 0 10px 0;
    }

    .bodyStyleBoxed .wrapBox,
    .wrapWide,
    .fullWidth .isotopeWrap .fullContent article,
    .main,
    .mainWrap,
    .bodyStyleBoxed .wrapBox,
    .wrapWide,
    .fullWidth .isotopeWrap .fullContent article,
    .main,
    .mainWrap,
    .bodyStyleWide .footerWidget,
    .bodyStyleWide #header,
    .bodyStyleFullWide #header {
        width: 100%;
    }

    .sideBarShow .wrapWide,
    .sideBarShow .footerWidget,
    .sideBarShow #header,
    .single .fullWidth.bodyStyleFullWide .wrapWide,
    .single .fullWidth.bodyStyleFullWide #header,
    body.category .fullWidth .main,
    body.category .fullWidth #header,
    .single .fullWidth .main,
    .single .fullWidth #header,
    .bodyStyleBoxed .custom_footer, .bodyStyleBoxed .copyright,
    .bodyStyleBoxed.sideBarShow .wrapBox,
    .bodyStyleBoxed.sideBarShow .custom_footer, .bodyStyleBoxed.sideBarShow .copyright {
        width: 90%;
    }

    .sideBar .widgetWrap {
        width: 100%;
    }

    .sc_blogger.style_image .sc_columns_item {
        width: 100%;
    }

    .sc_segment_content {
        padding: 60px;
        max-width: 300px !important;
        overflow: hidden;
    }

    .sc_segment_content .sc_image {
        max-width: 300px !important;
    }

    .sc_segment_image {
        width: 0%;
    }

    .sc_columns .sc_columns_item, .related .sc_columns_item {
        min-width: 50%;
    }

    .sc_columns_indent .sc_columns_item {
        min-width: 47.6378%;
    }

    .woocommerce-page ul.products li.product,
    .woocommerce ul.products li.product {
        min-width: 47.6%;
        float: left;
        clear: none;
    }

    .custom_socials li a {
        margin: 0 10px;
    }

    .sc_box .woocommerce-page ul.products li.product,
    .sc_box .woocommerce ul.products li.product {
        /*width: 30% !important;*/
        /*width:80% !important;*/
    }

    .author .authorSoc {
        float: none;
        margin-bottom: 30px;
    }



    a.visa_logo {
        width: 100%;
        margin-top: 20px;
    }

    .post.type-post .sc_columns_2.sc_columns_indent .sc_columns_item {
        width: 97.6378%;
    }

    .post.format-link .blogStreampageColumns > .sc_columns_item > a > strong > p,
    .post .blogStreampageColumns > .sc_columns_item > .post > .sc_status:first-child,
    .post .blogStreampageColumns > .sc_columns_item > .post > .sc_chat:first-child,
    .post .blogStreampageColumns > .sc_columns_item > .post > .sc_quote:first-child {
        margin-top: 0;
    }

    .logoHeader img {
        height: 15px;
    }
    .logoHeader {
        width:187px;

    }
    .wrapTopMenu .topMenu > ul > li > ul {
        min-width: 150px;
        width: 150px;
        margin: 0 0 0 -95px;
    }

    .wrapTopMenu .topMenu > ul > li > a {
        height: 25px;
        line-height: 45px;
        padding: 0 5px;
    }
    .wrapTopMenu .topMenu > ul > li > ul > li ul {
        position:relative;
        left:0%;
        top:0px;
        margin-bottom:15px;
    }


}
/*===========================================*/
@media (max-width: 515px) {
    .vc_custom_1447924546144 .vc_col-sm-4 {
        width: 50% !important;
        float: left;
    }
    .woocommerce #content div.product .woocommerce-tabs ul.tabs li,
    .woocommerce div.product .woocommerce-tabs ul.tabs li,
    .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
    .woocommerce-page div.product .woocommerce-tabs ul.tabs li {
        display: block;
        text-align: center;
    }
}
/*===========================================*/

@media (max-width: 449px) {
    .vc_custom_1447924546144 .vc_col-sm-4 {
        width: 50% !important;
        float: left;
    }
    .woocommerce-page div.product div.thumbnails {
        height: 75px;
    }
    .sc_sidebar_selector .sc_columns_item {
        min-width: 97.6378% !important;
    }
    #rev_slider_1_2{
        height:127px !important;
    }
    #rev_slider_1_2_wrapper{
        height:127px !important;
    }
    body {
        min-width: 320px;
    }

    .bodyStyleBoxed .wrapBox,
    .wrapWide,
    .fullWidth .isotopeWrap .fullContent article,
    .main,
    .mainWrap,
    .bodyStyleBoxed .wrapBox,
    .wrapWide,
    .fullWidth .isotopeWrap .fullContent article,
    .main,
    .mainWrap,
    .bodyStyleWide .footerWidget,
    .bodyStyleWide #header,
    .bodyStyleFullWide #header {
        width: 100%;
    }

    .sideBarShow .wrapWide,
    .sideBarShow .footerWidget,
    .sideBarShow #header,
    .single .fullWidth.bodyStyleFullWide .wrapWide,
    .single .fullWidth.bodyStyleFullWide #header,
    body.category .fullWidth .main,
    body.category .fullWidth #header,
    .single .fullWidth .main,
    .single .fullWidth #header,
    .bodyStyleBoxed.sideBarShow .wrapBox {
        width: 300px;
    }

    .bodyStyleBoxed .custom_footer, .bodyStyleBoxed .copyright,
    .bodyStyleBoxed.sideBarShow .custom_footer, .bodyStyleBoxed.sideBarShow .copyright {
        width: 260px;
    }

    .widget_area .sc_columns_item,
    .sc_columns_item {
        width: 97.6378% !important;
    }

    .isotopeWrap .isotopeItem.hoverStyle_1 .isotopeItemWrap:before,
    .isotopeWrap .isotopeItem.hoverStyle_1 .isotopeItemWrap:after,
    .isotopeWrap .isotopeItem.hoverStyle_2 .thumb:after {
        position: absolute;
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
    }

    .isotopeWrap .isotopeItem .isotopeContent {
        padding: 0 10px;
    }

    .isotopeWrap .isotopeItem.hoverStyle_2 .isotopeContent .isotopeExcerpt {
        padding: 10px 0;
        min-width: 200px;
        letter-spacing: 0px;
    }

    .woocommerce ul.products li.product .button {
        margin-left: -50px;
    }

    .woocommerce a.button,
    .woocommerce a.button.alt,
    .woocommerce-page a.button,
    .woocommerce-page a.button.alt {
        letter-spacing: 0px !important;
        width: 100px !important;
    }

    .sc_segment_content .sc_box {
        padding: 20px;
    }

    .sc_segment_content {
        padding: 60px 30px;
    }

    .sc_segment:after {
        top: 15px;
        bottom: 15px;
        left: 15px;
        right: 15px;
    }

    .sc_columns .sc_columns_item {
        max-width: 50%;
    }

    .sc_sidebar_selector ul, 
    .sc_sidebar_selector .post_item {
        margin-left: 40px !important;
    }

    .sc_columns_indent .sc_columns_item {
        max-width: 47.6378%;
    }

    .sc_segment_content {
        max-width: 240px !important;
        overflow: hidden;
    }

    .sc_segment_content .sc_image {
        max-width: 240px !important;
    }

    .sc_pricing_item.sc_columns_item {
        width: 100% !important;
        max-width: 100%;
    }

    .wrapBox {
        padding: 10px 10px 0 10px;
    }

    #header .searchform {
        display: none;
    }

    #header .usermenuArea {
        right: 0;
    }

    .post.type-post .sc_columns_2.sc_columns_indent .sc_columns_item {
        width: 97.6378%;
        max-width: 97.6378%;
    }

    #header {
        min-height: 60px;
    }

    #header .usermenuArea ul.usermenuList .usermenuCart ul {
        left: auto;
        right: 0;
        width: 300px;
    }

    .usermenuArea > ul > li > a {
        padding: 0 3px;
    }

    #header .usermenuArea {
        margin-top: -70px;
    }

    .usermenuArea .cart_total .cart_icon:before {
        font-size: 16px;
    }

    .usermenuArea > ul > li > a {
        font-size: 10px;
    }

    #program {
        width: 100%;
        margin: 0px auto;
    }
    .newsletter-table {
        width: 100%;
    }
    .newsletter-firstname, .newsletter-email {
        width: 100%;
    }
    .newsletter-submit {
        cursor: pointer;
    }

    .wrapTopMenu .topMenu > ul li {
        display: block;
        border-bottom: 1px solid #ddd;
    }
    .wrapTopMenu .topMenu > ul {
        display: none;
        text-align: left;
    }
    .openMobileMenu {
        display: block;
        top: auto;
        margin-top: -60px;
    }

    .menuMobileShow .wrapTopMenu .topMenu > ul {
        display: none;
        text-align: left;
    }



    .wrapTopMenu .topMenu > ul > li > ul {
        width: auto;
        margin: 0;
        position: static !important;
        margin-bottom: -1px;
        padding: 10px 30px;
    }
    .wrapTopMenu .topMenu > ul > li > ul li + li {
        border-top: 1px solid #ddd;
    }
    .wrapTopMenu .topMenu > ul > li > ul li {
        border: 0;
    }
    .wrapTopMenu .topMenu > ul > li > ul li + li {
        border-top: 1px solid #ddd;
    }
    .wrapTopMenu .topMenu > ul > li > ul li {
        list-style: none;
        text-align: left;
        position: relative;
        display: block;
        border: 0;
    }
    .wrapTopMenu .topMenu > ul > li > ul li a:hover {
        border: 0;
        background: none;
        border-bottom: 0;
    }
    .wrapTopMenu .topMenu > ul > li > ul li a{border: 0;}
}