/* WooCommerce
------------------------------------------------------------------------------------ */

* {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

.woocommerce h1 {
    font-size: 2.5em;
}

.woocommerce h2 {
    font-size: 2em;
}

.woocommerce h3 {
    font-size: 1.5em;
}

.woocommerce h3 {
    font-size: 1.1em;
}

.woocommerce h3.comment-reply-title,
.woocommerce h4 {
    font-size: 38px;
    font-weight: 300;
}

div.pp_pic_holder, 
.woocommerce-breadcrumb {
    display: none !important;
}

.woocommerce ul.products li.product a img,
.woocommerce-page ul.products li.product a img {
    width: 100%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


/* button add cart*/
.woocommerce a.button,
.woocommerce a.button.alt,
.woocommerce-page a.button,
.woocommerce-page a.button.alt {
    background: #f2f3f2;
    border: 2px solid #27282d;
    border-radius: 0;
    color: #fff;
    text-shadow: none;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 10px 0px;
    width: 140px;
    max-width: 140px;
    font-size: 14px;
    color: #000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: center;
}

.woocommerce a.button:hover,
.woocommerce a.button.alt:hover,
.woocommerce-page a.button:hover,
.woocommerce-page a.button.alt:hover{
    border: 2px solid #27282d;
}

.woocommerce a.button:hover,
.woocommerce-page a.button:hover,
.woocommerce .usermenuCart .widget_shopping_cart a.button:hover {
    border-color: #27282d;
    background: #27282d;
}

/*cart button*/
.woocommerce .usermenuCart .widget_shopping_cart a.button {
    background: #f2f3f2;
}


/*button*/
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce #content input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt {
    background: #000;
    border: none;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    text-shadow: none;
    font-weight: 100;
    letter-spacing: 3px;
    padding: 13px 20px;
    font-size: 13px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.woocommerce #content input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce-page #content input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover {
    background: #8b2131;
}

.woocommerce #content input.button:active,
.woocommerce #respond input#submit:active,
.woocommerce button.button:active,
.woocommerce input.button:active,
.woocommerce-page #content input.button:active,
.woocommerce-page #respond input#submit:active,
.woocommerce-page a.button:active,
.woocommerce-page button.button:active,
.woocommerce-page input.button:active {
    top: 0;
}

/*add cart*/
.woocommerce #content input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt {
    background: #8b2131;
}

.woocommerce #content input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover {
    background: #27282d;
}

.woocommerce .widget_price_filter .price_slider_amount .button {
    font-size: 12px !important;
    padding: 5px 23px;
    line-height: 12px;
    text-transform: lowercase;
    letter-spacing: 0px;
    color: #000;
    background: #fbcf78;
    font-weight: 400;
    float: right;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.archive.woocommerce.woocommerce-page .woocommerce-breadcrumb {
    margin: 0;
    //color: #fff;
    padding: 0;
}

.archive.woocommerce.woocommerce-page .woocommerce-breadcrumb a:hover {
    text-decoration: underline;
}

.woocommerce.woocommerce-page h1.page-title {
    font-size: 30px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-weight: 300;
}

.archive.woocommerce.woocommerce-page .woocommerce-breadcrumb:after {
    display: none;
}

.woocommerce #content div.product .product_title,
.woocommerce div.product .product_title,
.woocommerce-page #content div.product .product_title,
.woocommerce-page div.product .product_title {
    font-size: 30px;
    margin-bottom: 0px;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
    border-radius: 0;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
    background: #fbcf78;
    border: none;
    width: 8px;
    height: 8px;
    top: -4px;
    border: 1px solid #000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:last-child,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle:last-child {
    margin: 0 0 0 -0.5em;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
    height: 2px;
    background: #000000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background: #dee0de;
    height: 2px;
}

/*price color*/
.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price,
.woocommerce #content div.product p.price,
.woocommerce #content div.product span.price,
.woocommerce div.product span.price,
.woocommerce-page #content div.product p.price,
.woocommerce-page #content div.product span.price,
.woocommerce-page div.product p.price,
.woocommerce-page div.product span.price {
    color: #8b2131;
}

.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price {
    font-size: 12px;
    font-weight: 600;
}

.woocommerce ul.products li.product .price del,
.woocommerce-page ul.products li.product .price del {
    font-size: .75em;
}

.woocommerce #content div.product div.images img,
.woocommerce div.product div.images img,
.woocommerce-page #content div.product div.images img,
.woocommerce-page div.product div.images img {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.woocommerce span.onsale,
.woocommerce-page span.onsale {
    background: #fbcf78;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    margin-bottom: 50px;
    overflow: hidden;
}

.woocommerce .related ul,
.woocommerce .related ul.products,
.woocommerce .upsells.products ul,
.woocommerce .upsells.products ul.products,
.woocommerce-page .related ul,
.woocommerce-page .related ul.products,
.woocommerce-page .upsells.products ul,
.woocommerce-page .upsells.products ul.products {
    margin: 0 -2.2222% 0 0;
}

.woocommerce .related ul li.product,
.woocommerce .related ul.products li.product,
.woocommerce .upsells.products ul li.product,
.woocommerce .upsells.products ul.products li.product,
.woocommerce-page .related ul li.product,
.woocommerce-page .related ul.products li.product,
.woocommerce-page .upsells.products ul li.product,
.woocommerce-page .upsells.products ul.products li.product {
    //width: 22.6%;
    //width:30%;
    width:275px;
    margin: 0 2.3622% 30px -4px;
    display: inline-block;
}

}
div.product form.cart .button {
    font-size: 14px;
    text-transform: lowercase;
    color: #000;
    background: #f2f3f2;
    border: 2px solid #27282d;
    text-shadow: none;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 10px 24px;
    -webkit-transition: background 0.3s ease-out;
    -moz-transition: background 0.3s ease-out;
    -o-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out;
}

div.product form.cart .button:hover {
}

.woocommerce #content .quantity,
.woocommerce .quantity,
.woocommerce-page #content .quantity,
.woocommerce-page .quantity {
    /* height: 36px; */
    border: 1px solid #dee0de;
    display: inline-block;
}

.woocommerce #content .quantity input.qty,
.woocommerce .quantity input.qty,
.woocommerce-page #content .quantity input.qty,
.woocommerce-page .quantity input.qty {
    height: 34px;
    text-align: center;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.woocommerce #content .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce .quantity .plus,
.woocommerce-page #content .quantity .minus,
.woocommerce-page #content .quantity .plus,
.woocommerce-page .quantity .minus,
.woocommerce-page .quantity .plus {
    background: #ddd;
    width: 20px;
    height: 25px;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


/*search*/
.widget_product_search .searchFormWrap {
    position: relative;
    height: 25px;
}

.widget_product_search .searchFormWrap .searchSubmit {
    float: left;
    margin: 0 0 0 3px;
    padding: 0;
    display: none;
}

.widget_product_search .searchFormWrap .searchSubmit input {
    text-align: center;
    font-size: 16px;
    letter-spacing: 0px;
    text-transform: capitalize;
    background: none;
    border: none;
    padding: 0;
    padding-right: 8px;
    line-height: 25px;
}

.widget_product_search .searchFormWrap .searchField {
    overflow: hidden;
    position: relative;
}

.widget_product_search .searchFormWrap .searchField input {
    width: 100%;
    height: 25px;
    display: block;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    border-bottom: 1px solid #000;
    font-size: 12px;
    font-weight: 300;
    color: #868484;
    font-style: italic;
    padding: 0 0px 0 20px;
}

.widget_product_search .searchFormWrap .searchField input:focus {
    color: #27282d;
}

.widget_product_search .searchFormWrap .searchField:before {
    content: "\e80c";
    font-family: "fontello";
    color: #27282d;
    display: block;
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    top: 2px;
    left: 2px;
}

.widget_product_search .searchFormWrap .searchField input:-moz-placeholder {
    color: #bebebe;
}

.widget_product_search .searchFormWrap .searchField input::-webkit-input-placeholder {
    color: #bebebe;
}



/*related*/
.woocommerce.woocommerce-page .related.products {
    padding: 50px 0 0 0;
    border-top: 1px solid #dee0de;
    margin-top: 50px;
}

.woocommerce .woocommerce-breadcrumb,
.woocommerce-page .woocommerce-breadcrumb {
    padding: 0 0 20px 0;
    margin: 0;
}

.woocommerce .woocommerce-breadcrumb:after,
.woocommerce-page .woocommerce-breadcrumb:after {
    content: none;
    width: 30%;
    display: block;
    height: 0;
    border-bottom: 1px solid #dee0de;
    margin: 20px 0 0 0;
}

.woocommerce form .form-row label,
.woocommerce-page form .form-row label {
    line-height: 1em;
    font-size: 14px;
}

.woocommerce #payment ul.payment_methods li,
.woocommerce-page #payment ul.payment_methods li {
    list-style: none;
}


/*info box*/
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-error,
.woocommerce-page .woocommerce-info,
.woocommerce-page .woocommerce-message {
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img,
.woocommerce-page ul.cart_list li img,
.woocommerce-page ul.product_list_widget li img {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*comment*/
.woocommerce #reviews #comments ol.commentlist,
.woocommerce-page #reviews #comments ol.commentlist {
    padding: 0 0 20px 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.woocommerce #reviews #comments ol.commentlist + .commentlist, 
.woocommerce-page #reviews #comments ol.commentlist + .commentlist {
    border-top: 1px solid #dee0de;
    padding: 40px 0 0 30px;
    margin: 30px 0 0 40px;
}

.woocommerce #reviews #comments ol.commentlist li,
.woocommerce-page #reviews #comments ol.commentlist li {
    margin: 0 0 40px 0;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar,
.woocommerce-page #reviews #comments ol.commentlist li img.avatar {
    border: none;
    padding: 0;
    width: 60px;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text,
.woocommerce-page #reviews #comments ol.commentlist li .comment-text {
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    border-color: #ddd;
    margin: 0 0 0 75px;
    padding: 0;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta,
.woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta {
    font-size: 14px;
    margin: 0 0 7px 0;
    vertical-align: top;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta strong,
.woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta strong {
    color: #000;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta strong,
.woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta strong {
    text-transform: uppercase;
}

.woocommerce #review_form #respond textarea,
.woocommerce-page #review_form #respond textarea {
    margin: 0 0 30px 0;
}

/*rating*/
.woocommerce .star-rating span:before,
.woocommerce-page .star-rating span:before,
.woocommerce .star-rating:before,
.woocommerce-page .star-rating:before {
    content: '\e807\e807\e807\e807\e807';
    font-family: "fontello";
    font-size: 1em;
    color:#8b2131;
}

.woocommerce .star-rating,
.woocommerce-page .star-rating {
    width: 65px;
}

.woocommerce .star-rating:before,
.woocommerce-page .star-rating:before {
    color: #ededed;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs,
.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs,
.woocommerce-page div.product .woocommerce-tabs ul.tabs {
    padding: 0 0 0 5px;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
    background: #8b2131;
    font-weight: 100;
    text-shadow: none;
    text-transform: uppercase;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #060606;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    color: #000;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    display: inline-block;
    padding: .5em 0;
    font-weight: 700;
    color: #f2f3f2;
    text-decoration: none;
    display: block;
    padding: 13px 0px;
    letter-spacing: 0;
    position: relative;
    z-index: 1;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 12px;
    border-style: solid;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    border-bottom-color: #F2F3F2;
    background: #F2F3F2;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
    color: #fff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before {
    content: none;
}

.woocommerce p.stars a,
.woocommerce-page p.stars a {
    border: none !important;
}

.woocommerce p.stars a:after,
.woocommerce-page p.stars a:after {
    font-family: "fontello" !important;
    color: #D3D2D2;
    font-size: 1em;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.woocommerce p.stars a:hover:after,
.woocommerce-page p.stars a:hover:after {
    color: #000 !important;
}

.woocommerce p.stars a.active:after,
.woocommerce p.stars a.active:hover:after,
.woocommerce-page p.stars a.active:after,
.woocommerce-page p.stars a.active:hover:after {
    color: #8b2131 !important;
    font-family: "fontello" !important;
}

.woocommerce p.stars a.star-1:after,
.woocommerce p.stars a.star-1:hover:after,
.woocommerce p.stars a.star-1.active:after,
.woocommerce-page p.stars a.star-1:after,
.woocommerce-page p.stars a.star-1:hover:after,
.woocommerce-page p.stars a.star-1.active:after {
    content: '\e807';
}

.woocommerce p.stars a.star-2:after,
.woocommerce p.stars a.star-2:hover:after,
.woocommerce p.stars a.star-2.active:after,
.woocommerce-page p.stars a.star-2:after,
.woocommerce-page p.stars a.star-2:hover:after,
.woocommerce-page p.stars a.star-2.active:after {
    content: '\e807\e807';
}

.woocommerce p.stars a.star-3:after,
.woocommerce p.stars a.star-3:hover:after,
.woocommerce p.stars a.star-3.active:after,
.woocommerce-page p.stars a.star-3:after,
.woocommerce-page p.stars a.star-3:hover:after,
.woocommerce-page p.stars a.star-3.active:after {
    content: '\e807\e807\e807';
}

.woocommerce p.stars a.star-4:after,
.woocommerce p.stars a.star-4:hover:after,
.woocommerce p.stars a.star-4.active:after,
.woocommerce-page p.stars a.star-4:after,
.woocommerce-page p.stars a.star-4:hover:after,
.woocommerce-page p.stars a.star-4.active:after {
    content: '\e807\e807\e807\e807';
}

.woocommerce p.stars a.star-5:after,
.woocommerce p.stars a.star-5:hover:after,
.woocommerce p.stars a.star-5.active:after,
.woocommerce-page p.stars a.star-5:after,
.woocommerce-page p.stars a.star-5:hover:after,
.woocommerce-page p.stars a.star-5.active:after {
    content: '\e807\e807\e807\e807\e807';
}

.woocommerce #review_form #respond p.comment-form-rating label,
.woocommerce-page #review_form #respond p.comment-form-rating label,
.woocommerce #review_form #respond p.comment-form-comment label,
.woocommerce-page #review_form #respond p.comment-form-comment label {
    display: none;
}

.woocommerce #review_form #respond p.comment-form-rating p.stars,
.woocommerce-page #review_form #respond p.comment-form-rating p.stars {
    margin: 0;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before {
    display: none;
}

.woocommerce #content div.product div.images div.thumbnails,
.woocommerce div.product div.images div.thumbnails,
.woocommerce-page #content div.product div.images div.thumbnails,
.woocommerce-page div.product div.images div.thumbnails {
    margin: 0 -3% 0 0;
}

.woocommerce #content div.product div.thumbnails a,
.woocommerce div.product div.thumbnails a,
.woocommerce-page #content div.product div.thumbnails a,
.woocommerce-page div.product div.thumbnails a {
    width: 30%;
    margin: 0 3% 0 0;
}

.woocommerce table.shop_table,
.woocommerce-page table.shop_table {
    border-radius: 0;
}

.woocommerce #content table.cart td.actions input.button,
.woocommerce table.cart td.actions input.button,
.woocommerce-page #content table.cart td.actions input.button,
.woocommerce-page table.cart td.actions input.button {
    font-size: 14px;
    padding: 7px 40px;
    letter-spacing: 1px;
    border: 2px solid #000;
    text-transform: lowercase;
    color: #000;
}

.woocommerce table.cart td.actions input.button:hover,
.woocommerce-page #content table.cart td.actions input.button:hover,
.woocommerce-page table.cart td.actions input.button:hover {
    background: #000;
}

a.checkout-button.button.alt.wc-forward {
    max-width: 240px;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
    padding: 7px 6px 5px;
}

.woocommerce .cart-collaterals h2,
.woocommerce-page .cart-collaterals h2 {
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.woocommerce .cart-collaterals .shipping_calculator,
.woocommerce-page .cart-collaterals .shipping_calculator {
    float: left;
    clear: none;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    float: none;
    width: 100%;
}

.woocommerce .cart-collaterals .cart_totals table th,
.woocommerce-page .cart-collaterals .cart_totals table th {
    font-size: 14px;
    width: 50%;
}

.woocommerce .shipping-calculator-button,
.woocommerce-page .shipping-calculator-button {
    display: block;
    margin: 0 0 30px 0;
}

.woocommerce .shipping-calculator-button:after,
.woocommerce-page .shipping-calculator-button:after {
    font-size: 12px;
}

/*nav*/

.woocommerce .woocommerce-pagination ul.page-numbers,
.woocommerce-page .woocommerce-pagination ul.page-numbers {
    margin: 0;
    padding: 0;
    border: none;
}

.woocommerce .woocommerce-pagination ul.page-numbers li,
.woocommerce-page .woocommerce-pagination ul.page-numbers li {
    display: inline-block;
    color: #000;
    font-size: 14px;
    border: none;
}

.woocommerce .woocommerce-pagination ul.page-numbers li + li,
.woocommerce-page .woocommerce-pagination ul.page-numbers li + li {
    margin: 0 0 0 5px;
}

.woocommerce .woocommerce-pagination ul.page-numbers li a,
.woocommerce-page .woocommerce-pagination ul.page-numbers li a {
    display: block;
    padding: 0px 15px;
    color: #000;
    line-height: 12px;
}

.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
    background-color: transparent;
    color: #000;
}

.woocommerce .woocommerce-pagination ul.page-numbers li a:hover,
.woocommerce-page .woocommerce-pagination ul.page-numbers li a:hover {
    color: #8b2131;
    border-color: #8b2131;
    background-color: #fff;
}

.woocommerce .woocommerce-pagination ul.page-numbers li span.current,
.woocommerce-page .woocommerce-pagination ul.page-numbers li span.current {
    display: block;
    padding: 0px 15px;
    background-color: transparent;
    color: #aeb0ae;
    line-height: 12px;
}

.woocommerce .woocommerce-pagination ul.page-numbers li a.next,
.woocommerce .woocommerce-pagination ul.page-numbers li a.prev {
    font-size: 20px;
    line-height: 10px;
}

.woocommerce ul.products li.product h3 {
    padding: 0 25px;
    width: 225px;
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;
    //top:-20vh;
    //top:-25vh;
    /*    top:-300px;*/
    opacity:0;
}

.woocommerce ul.products li.product a img {
    margin: 0 0 20px;
    height: 100%;
    width: 100%;
    /*  height: 100%;
      background-size: cover;
      background-position: center;*/
}

.woocommerce .products .star-rating {
    margin: 0 auto 10px;
}

.woocommerce .woocommerce-breadcrumb a {
    color: #000;
    font-size: 12px;
    font-weight: 600;
}

.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {
    margin: 0 0 20px;
    font-size: 12px;
    font-weight: 400;
}

.woocommerce .woocommerce-ordering select {
    display: none;
}

.woocommerce ul.products li.product .onsale ,
.woocommerce span.onsale, .woocommerce-page span.onsale {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #000;
    border-radius: 0;
    border: 1px solid #000;
    margin-right: 10px;
    margin-top: 10px;
    width: 52px;
    line-height: 25px;
    min-height: 25px;
    text-transform: lowercase;
    -webkit-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 1);
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 1);
}

.woocommerce span.onsale, .woocommerce-page span.onsale {
    left: 10px;
    top: 10px;
    margin: 0;
}

.widgetWrap ul.product-categories > li a {
    font-style: italic;
    line-height: 20px;
}

.widget_product_search .searchFormWrap .searchSubmit input:hover {
    background-color: transparent !important;
    color: #000;
    border: 0;
}

.woocommerce .widget_layered_nav ul li a, .woocommerce .widget_layered_nav ul li span {
    padding: 0;
    font-style: italic;
    line-height: 20px;
}

.woocommerce .widget_layered_nav ul li .count {
    display: none;
}

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
    float: left;
    margin: 0;
    width: 60px;
    height: auto;
    box-shadow: none;
    margin-right: 10px;
}

.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a {
    font-weight: 400;
    margin-bottom: 6px;
    line-height: 20px;
}

.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.woocommerce ul.product_list_widget li + li {
    margin-top: 30px;
}

.woocommerce ul.cart_list li span.amount, .woocommerce ul.product_list_widget li span.amount {
    color: #aeb0ae;
    font-size: 12px;
    border: 0;
    text-decoration: none;
}

.woocommerce ul.cart_list li del, .woocommerce ul.product_list_widget li del,
.woocommerce ul.cart_list li ins, .woocommerce ul.product_list_widget li ins {
    color: #aeb0ae;
}

.woocommerce ul.cart_list li ins, .woocommerce ul.product_list_widget li ins {
    text-decoration: none;
}

.woocommerce ul.cart_list li del, .woocommerce ul.product_list_widget li del {
    margin-right: 10px;
}

.woocommerce .widget_price_filter .price_slider_amount .price_label {
    display: block;
    float: left;
}

.woocommerce .widget_price_filter .price_slider_amount .button:hover {
    background-color: #27282d;
    color: #8b2131;
}

.widgetWrap .tagcloud a {
    font-size: 14px !important;
    text-transform: capitalize;
    color: #000;
    font-style: italic;
    padding-right: 20px;
    line-height: 24px;
    margin: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.widgetWrap .tagcloud a:hover {
    color: #8b2131;
}

.woocommerce ul.products li.product .price del, .woocommerce-page ul.products li.product .price del {
    font-size: 12px;
    display: inline-block;
    margin-right: 10px;
    opacity: 1;
    font-weight: 100;
}

.woocommerce .woocommerce-breadcrumb {
    margin: 0 0 10px;
    padding: 0;
    font-size: 12px;
    color: #000;
    font-weight: 600;
}

.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 0;
    line-height: inherit;
    float: right;
}

.woocommerce .post_content h5 {
    margin: 0px 0 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
}

.woocommerce-review-link {
    font-size: 12px;
    color: #A1A1A1;
    display: none;
}

.woocommerce div.product p.price {
    color: #000;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.woocommerce div.product p.price del, .woocommerce div.product span.price del {
    opacity: .5;
    display: inline-block;
    margin-right: 10px;
}

.woocommerce div.product .woocommerce-tabs .panel {
    margin: 0;
    padding: 0;
    border: 1px solid #000;
    padding: 30px;
    background-color: #f2f3f2;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    margin: 0;
    margin-bottom: -1px;
}

.woocommerce .woocommerce-tabs h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
}

.woocommerce div.product p.price ins, .woocommerce div.product span.price ins {
    text-decoration: initial;
}

.woocommerce .post_content .product_meta {
    font-size: 12px;
}

.woocommerce div.product form.cart {
    margin-bottom: 30px;
    margin-top: 30px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
    color: #000;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta strong, .woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta strong {
    font-weight: 300;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text p {
    margin: 0;
    font-size: 12px;
    line-height: 20px;
}

.woocommerce h3.comment-reply-title {
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px !important;
}

.woocommerce #review_form #respond .form-submit input {
    left: auto;
    border: 2px solid #27282d;
    background-color: #f2f3f2;
    color: #000;
    text-transform: lowercase;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 7px 40px;
    line-height: 24px;
}

.woocommerce #review_form #respond .form-submit input:hover {
    background: #27282d;
}

.woocommerce  .related h2 {
    padding: 0 0 20px 0;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 14px;
}

.woocommerce div.product div.summary {
    margin-bottom: 50px;
}


/*= Table ===================================================================================================================*/

.woocommerce table {
    border: none;
}

.woocommerce table thead tr th,
.woocommerce table tbody tr td,
.woocommerce table tfoot tr td {
    border: 1px solid #000;
    vertical-align: middle;
    font-size: 14px;
    background-color: #f2f3f2;
}

.woocommerce table thead tr th:first-child,
.woocommerce table tbody tr td:first-child,
.woocommerce table tfoot tr td:first-child {
    padding: 30px;
}
/*head*/
.woocommerce table thead tr th {
    border-width: 1px;
    font-weight: 700;
}

.woocommerce table thead tr th + th {
    border-width: 1px 1px 1px 0;
}

.woocommerce table thead tr th {
    background-color: #fbcf78;
    text-transform: uppercase;
}
/*body*/
.woocommerce table tbody tr td:first-child {
    border-width: 0 1px 1px 1px;
}

.woocommerce table tbody tr td {
}

.woocommerce table tbody tr  td + td {
    border-width: 1px 1px 1px 0;
}

.woocommerce table tbody td span {
    color: #222222;
}

.woocommerce table tbody td i {
    font-size: 12px;
}

.woocommerce table tbody td b {
    font-weight: 700;
}
/*foot*/
.woocommerce table tfoot tr th {
    border-width: 0 1px 0 1px;
}

.woocommerce table tfoot tr th + th {
    border-width: 0 1px 0 1px;
}

.woocommerce table tfoot td {
    background-color: #f2f5f8;
    color: #000;
}

.woocommerce table td,.woocommerce table th {
    text-align: center;
}

.woocommerce table tr.odd td {
}

.woocommerce table tr.even td {
}

.woocommerce table.shop_table td {
    padding: 30px 0;
}

.woocommerce table  th.product-remove {
    width: 21px;
}

.woocommerce td.product-quantity {
    min-width: 20px;
}

.woocommerce table tbody tr td a {
    color: #000;
}

.woocommerce-page table.cart td.actions .input-text {
    width: 168px;
}

.woocommerce .cart-collaterals .cart_totals table th, .woocommerce-page .cart-collaterals .cart_totals table th,
.woocommerce .cart-collaterals .cart_totals table td, .woocommerce-page .cart-collaterals .cart_totals table td {
    padding: 30px 15px;
}

.woocommerce-cart .cart-collaterals .cart_totals table th {
    border: 1px solid #000;
    background-color: #f2f3f2;
    border-width: 0px 1px 1px 1px;
    border-top: 0;
}

.woocommerce-cart .cart-collaterals .cart_totals table {
    border: 1px solid #000;
    border-width: 1px 1px 0px 0px;
}

.woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {
    font-weight: 700;
    border: 1px solid rgba(0, 0, 0, 1);
    border-width: 0px 1px 1px 0;
}

.woocommerce table.shop_table tfoot th {
    border-left: 1px solid #000;
}

.payment_methods label {
    display: inline-block;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    float: right;
    text-transform: lowercase;
    letter-spacing: 1px;
}

form.checkout.woocommerce-checkout h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
}

form.checkout.woocommerce-checkout h3 label {
    display: inline-block;
}

input#ship-to-different-address-checkbox {
    vertical-align: text-top;
}

.woocommerce-checkout .checkout .col-2 h3#ship-to-different-address {
    margin-bottom: 14px;
}

.woocommerce .usermenuArea ul.cart_list li img,  .usermenuArea ul.product_list_widget li img {
    display: none;
}

#header .usermenuArea ul.usermenuList .usermenuCart .widget_area ul li a.remove {
    display: none;
}

#header .usermenuArea ul.usermenuList .usermenuCart .widget_area ul li a:hover {
    border: 0;
}

#header .usermenuArea ul.usermenuList .usermenuCart .widget_area ul li a:after {
    content: none;
}

.usermenuArea ul.product_list_widget li span.amount, #header .usermenuArea ul.usermenuList .usermenuCart .widget_area ul li .quantity {
    float: right;
}

.woocommerce ul.product_list_widget li + li {
    margin-top: 0px;
}

.woocommerce .widgetWrap ul.product_list_widget li + li {
    margin-top: 30px;
}

.added_to_cart.wc-forward {
    display: none !important;
}

.widgetWrap ul.product_list_widget > li {
    margin-top: 30px !important;
}

.woocommerce nav.woocommerce-pagination {
    text-align: center;
    padding-top: 50px;
    border-top: 1px solid #ddd;
}

.woocommerce .products ul, .woocommerce ul.products {
    margin: 0;
    margin-right: -2.4193%;
    max-width: 102.3622%;
    margin-left: 4px;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    float: none !important;
    //margin: 0 2.3622% 30px 0;
    margin:0;
    padding: 0;
    position: relative;
    display: inline-block;
    margin-left: -5px;
    vertical-align: top;
    text-align: center;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    //width: 29.95%;
    //height:30vh;
    //height:22.5vh;
    height:275px;
    width:275px;
}

.woocommerce-page.columns-1 ul.products li.product, .woocommerce.columns-1 ul.products li.product {
    width: 97.6%;
}

.woocommerce-page.columns-2 ul.products li.product, .woocommerce.columns-2 ul.products li.product {
    width: 47.6%;
}

.woocommerce-page.columns-3 ul.products li.product, .woocommerce.columns-3 ul.products li.product {
    width: 30.95%;
}

.woocommerce-page.columns-4 ul.products li.product, .woocommerce.columns-4 ul.products li.product {
    //width: 21.6%;
    //width:19%;
    width:275px;
}

.woocommerce-page.columns-5 ul.products li.product, .woocommerce.columns-5 ul.products li.product {
    width: 17.63%;

}

.woocommerce-page.columns-6 ul.products li.product, .woocommerce.columns-6 ul.products li.product {
    width: 14.3%;
}
/* Custom ANimation*/
/*Hover OFF /Initial State */



.overlay-effect {
    width: 275px;
    height: 275px;
    position: relative;
    opacity: 0;
    z-index: -1;
    //top: -254px;
    //left: -20px;
    top: -257px;
    left: -16px;
    background: #8b2131;
    -webkit-transition:opacity 1s ease-in-out;
    -moz-transition:opacity 1s ease-in-out;
    -o-transition:opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.overlay-effect:hover {
    opacity: 0.7;
    -webkit-transition:opacity .35s ease-in-out;
    -moz-transition:opacity .35s ease-in-out;
    -o-transition:opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out;
}

.overlay-effect-2:hover .overlay-effect {
    opacity: 0.7;
    -webkit-transition:opacity .35s ease-in-out;
    -moz-transition:opacity .35s ease-in-out;
    -o-transition:opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out;
}

.overlay-effect-2 {
    width: 240px;
    height: 240px;
    position: relative;
    top: -278px;
    left: 16px;
    z-index: 1;
    -webkit-transition:all .35s ease-in;
    -moz-transition:all .35s ease-in;
    -o-transition:all .35s ease-in;

    transition: all .35s ease-in;
    box-sizing: border-box;
}

.overlay-effect-2:before,
.overlay-effect-2:after {
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    box-sizing: border-box;
    position: relative;
    -webkit-animation-duration: .35s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-duration: .35s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-fill-mode: forwards;

}

.overlay-effect-2:before {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 100%;
    left: 50%;
    -webkit-animation-name: reverse-top-bot;
    -moz-animation-name: reverse-top-bot;
}

.overlay-effect-2:after {
    border-left: 2px solid white;
    border-right: 2px solid white;
    height: 100%;
    top: -180%;
    -webkit-animation-name: reverse-left-right;
    -moz-animation-name: reverse-left-right;
}

.overlay-effect-2 h3 {
    color: #fff !important;
    font-size: 24px !important;
    font-weight: 300 !important;
    top: 35% !important;
    position: absolute !important;
    opacity: 0 !important;
    -webkit-transition: all .35s linear;
    -moz-transition: all .35s linear;
    -o-transition: all .35s linear;
    transition: all .35s linear;
}
.overlay-effect-2:hover h3 {
    top: 40% !important;
    opacity: 1 !important;
}

.overlay-effect-3:hover .overlay-effect {
    opacity: 0.7;
    -webkit-transition:opacity .35s ease-in-out;
    -moz-transition:opacity .35s ease-in-out;
    -o-transition:opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out;
}

.overlay-effect-3 {
    width: 240px;
    height: 240px;
    position: relative;
    top: -278px;
    left: 16px;
    z-index: 1;
    -webkit-transition:all .35s ease-in;
    -moz-transition:all .35s ease-in;
    -o-transition:all .35s ease-in;

    transition: all .35s ease-in;
    box-sizing: border-box;
}

.overlay-effect-3:before,
.overlay-effect-3:after {
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    box-sizing: border-box;
    position: relative;
    -webkit-animation-duration: .35s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-duration: .35s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-fill-mode: forwards;

}

.overlay-effect-3:before {
    /*    border-top: 2px solid black;
        border-bottom: 2px solid black;*/
    width: 100%;
    left: 50%;
    -webkit-animation-name: reverse-top-bot;
    -moz-animation-name: reverse-top-bot;
}

.overlay-effect-3:after {
    /*    border-left: 2px solid black;
        border-right: 2px solid black;*/
    height: 100%;
    top: -180%;
    -webkit-animation-name: reverse-left-right;
    -moz-animation-name: reverse-left-right;
}


.overlay-effect-3 .box-titles {
    position: absolute;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all .35s linear;
    -moz-transition: all .35s linear;
    -o-transition: all .35s linear;
    transition: all .35s linear;
    background: none !important;
}
.overlay-effect-3:hover .box-titles {
    background: none !important;
    bottom: 3%;
    opacity: 1;
}

.overlay-effect-3 .box-titles h3,
.overlay-effect-3 .box-titles h4 {
    color: #fff;
}
.overlay-effect-3 .box-titles h3 {
    color: #Fff;
    text-transform: capitalize;
    font-size: 24px !important;
    font-weight: 300 !important;
}
.overlay-effect-3 .box-titles h4 {
    color: #Fff;
    font-size: 16px !important;
}

@-moz-keyframes reverse-top-bot {
    0% {
        left: 0%;
        width: 100%;
    }
    100% {
        left: 50%;
        width: 0%;
    }
}
@-webkit-keyframes reverse-top-bot {
    0% {
        left: 0%;
        width: 100%;
    }
    100% {
        left: 50%;
        width: 0%;
    }
}
@-moz-keyframes reverse-left-right {
    0% {
        top: -223%;
        height: 100%;
    }
    100% {
        top: -180%;
        height: 0%;
    }
}
@-webkit-keyframes reverse-left-right {
    0% {
        top: -223%;
        height: 100%;
    }
    100% {
        top: -180%;
        height: 0%;
    }
}
/*Hover ON */

.overlay-effect-2:hover::before,
.overlay-effect-2:hover::after {
    width: 100%;
    height: 100%;
    z-index: 100;
}

.overlay-effect-2:hover::before {
    left: 50%;
    width: 0%;
    height: 100%;
}
.overlay-effect-2::after {
    margin-top: 24px;
}
.overlay-effect-2:hover::after {
    height: 0%;
    margin-top: 24px;
}
@-moz-keyframes top-bot {
    0% {
        left: 50%;
        width: 0%;
    }
    100% {
        left: 0%;
        width: 100%;
    }
}
@-webkit-keyframes top-bot {
    0% {
        left: 50%;
        width: 0%;
    }
    100% {
        left: 0%;
        width: 100%;
    }
}
@-moz-keyframes left-right {
    0% {
        //170
        top: -182.5%;
        height: 0%;
    }
    100% {
        top: -224.5%;
        height: 100%;
    }
}
@-webkit-keyframes left-right {
    0% {
        //170
        top: -182.5%;
        height: 0%;
    }
    100% {
        top: -224.5%;
        height: 100%;
    }
}

.overlay-effect-2:hover::after,
.overlay-effect-2:hover::before {
    -webkit-animation-duration: 700ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-duration: 700ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-fill-mode: forwards;
}

.overlay-effect-2:hover::after {
    -webkit-animation-name: left-right;
    -moz-animation-name: left-right;
}

.overlay-effect-2:hover::before {
    -webkit-animation-name: top-bot;
    -moz-animation-name: top-bot;
}
.overlay-effect-2:hover h3 {
    opacity:1 !important;


}
@keyframes shop-animation {
    0%{ opacity:0;
        left:-275px;
        bottom:-275px;
    }
    100%{
        opacity:1;
        left:0px;
        bottom:0px;
    }
}
.class-li{
    position:relative;


    left:-275px;
    bottom:-275px;
    opacity: 0;

    animation: shop-animation 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;

}
.active-class-li{


}
.box-titles {
    width:100%;
    padding-left:5px !important;
    padding-right:5px !important;
}
.box-titles .product_title {
    top:0px !important;
    opacity:1 !important;
    font-size:14px !important;
}
.extra .box-titles{
    opacity:0;
}
.box-titles .product_subtitle{
    font-size: 13px;
    color: #000;
}
.extra:hover .box-titles{
    opacity:1;
}


.woocommerce h2.product_subtitle {
    font-size: 1.3em;
    color: #575963;
}

.product-category[rel="custom-cat"] .overlay-effect h3 {
    vertical-align: middle;
    display: table-cell;
    padding: 0 40px;
    line-height: 100%;
    width: inherit;
    color: #000;
}

.product-category[rel="custom-subcat"] .overlay-effect h3 {
    vertical-align: middle;
    display: table-cell;
    padding: 0 40px;
    line-height: 100%;
    width: inherit;
    color: #000;
}


.related.products ul.products li.product.outofstock .price, 
ul.products li.product.custom-prod .price {
    display: none;
}


.home .logoHeader{
    display:none;
}

.home #header{
    padding-bottom: 0;
}

.footerWidget {
    width: 100%; 
}

.newsletter-form {
    margin-top: 20px;
}

.woocommerce .footerWidget {
    display:none;
}

.day {
    width: 50%;
    padding: 0;
    border: 0;
    background-color: transparent;
    color:black !important;
}
.time{
    color:black !important;
}
.cart{
    /* display:none; */
}
.product_id {
    display: none;
}
.out-of-stock {
    display: none;
}

#rev_slider_1_4_wrapper {
    background-color: #fff !important;
}

.sc_button.sc_button_skin_dark.sc_button_style_line , .woocommerce #review_form #respond .form-submit input, .woocommerce #review_form #respond .form-submit input{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: normal;
}
.sc_button.sc_button_skin_dark.sc_button_style_line:hover , .woocommerce #review_form #respond .form-submit input:hover, .woocommerce #review_form #respond .form-submit input:hover {
    color: #f2f3f2;
    font-weight: normal;
}
.sc_skills_bar .sc_skills_item .sc_skills_count {
    background-color: #8b2131 !important;
}

.widget_calendar table tbody td a {
    font-weight: bold;
    color: #8b2131;
}
.widget_calendar table tbody td a:hover {
    background-color: #8b2131;
    color: #f2f3f2;
    font-weight: bold;
}
.widget_calendar table tbody td a:before {
    background-color: transparent !important;
    border: none !important;
}
.newsletter {
    margin-bottom: 30px;
}
.newsletter table {
    box-shadow: none !important;
    background-color: #8b2131 !important;
}

.newsletter-submit {
    background-color: #f2f3f2;
    border: 2px solid #27282d !important;
    color: #27282d;
    font-size: 14px !important;
    padding: 7px 40px !important;
    letter-spacing: 1px;
    cursor: pointer;
}

.newsletter-submit:hover {
    color: #f2f3f2 !important;
    background-color: #27282d !important;
}
.newsletter-td-submit {
    padding: 10px 0 16px !important;
}

.newsletter .newsletter-email {
    max-width: 90%;
}

#program {
    background-color: #f2f3f2;
}


table.program-magazine {
    width: 300px;
    margin: 0px auto;
}

.postTextArea table td.day {
    padding: 5px 0px 5px 0px;
}
.postTextArea table td.time {
    padding: 5px;
}
.widget_trex_post .ui-tabs-nav {
    display: none;
}

.berocket_filter_slider.ui-widget-content, .berocket_filter_price_slider.ui-widget-content {
    background: none repeat scroll 0 0 #f2f3f2;
}

option:hover {
    box-shadow: 0 0 10px 100px #f2f3f2 inset;
    background-color: #f2f3f2;
}


.price ins .amount {
    color: #8b2131;
}

.apss-theme-1 .apss-single-icon a {
    margin: 10px 20px 10px 0px;
}

